OPENAI_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6IDDjYEcPnSFLmGm7xUPRG8cX6JkFXRXrM4PWyVX6m3yg
INSTAGRAM_ACCESS_TOKEN=your_token_here